[2020-11-08 06:54] elrhomariyounes opened #1 "Contributing"
# Hello, I would like to contribute

* Is there any requirements to setup the project locally ?
* Any required steps before building the Repo ?

Thank you.

[2020-11-08 14:43] acupofjose commented on #1
@elrhomariyounes  no requirements other than the nuget packages defined in the project, but visual studio will handle those for you.

That and docker if you want to do local development!

[2020-11-09 07:00] elrhomariyounes commented on #1
Superb, I will give it a try and start looking in to it. Make some samples or if there is any known issues.

[2020-12-22 08:54] elrhomariyounes commented on #1
Hello @acupofjose, I'm very motivated to give a try the realtime client. There is a separate repo (realtime-csharp) ? Thank you.

[2020-12-22 16:39] acupofjose commented on #1
@elrhomariyounes there has been one kindly provided by @kiwicopple - I'll get it initialized and send you a message when it's ready for contributions!

[2020-12-22 17:35] acupofjose commented on #1
@elrhomariyounes please see https://github.com/supabase/realtime-csharp as the repo to contribute to! It is mostly stubbed at the moment, but should be more than enough to work with!

[2021-02-12 04:59] elrhomariyounes opened #2 "Xamarin.Forms todo app example"
Hello @acupofjose, I made a todo app and I was wondering if we should trigger a pre-release for supabase-csharp to use the whole library and add it to the [Supabase repo](https://github.com/supabase/supabase) examples.

I only used postgrest-csharp and realtime-csharp in the example. If you have some time could you check it out and let me know what do you think [here](https://github.com/elrhomariy

[2021-02-12 13:33] acupofjose commented on #2
@elrhomariyounes this is great! Thanks so much for working on this repo. I just pushed the prerelease package - you'll find it here: https://www.nuget.org/packages/supabase-csharp (once the analysis that nuget does completes).

I think it'd be great to have it in the examples. Preferably with some interactions with `Auth` if possible. The example in this repo (though very incomplete) does provide

[2021-02-13 03:30] elrhomariyounes commented on #2
Thank you @acupofjose. I will try to add some Authentication and Authorization to the example.

[2021-02-13 03:30] #2 closed

[2021-02-23 21:36] #1 closed

[2021-02-27 04:02] elrhomariyounes opened #3 "Initialize supabase client"
# Bug report

## Describe the bug

Hello, I have an issue, is there any workaround, the thing is if I want to have a service with the supabase client as a property how can I initialize the supabase client since the Initialize method is async for example :
[code]

I can't initialize the supabaseClient in the constructor

[2021-02-27 04:09] acupofjose commented on #3
Would this work?

[code]

[2021-02-27 04:20] elrhomariyounes commented on #3
Hello @acupofjose, Thank you for the quick reply. Here the Initialize will return a
[code]
[code]

[2021-02-27 04:48] acupofjose commented on #3
Will that work? Or do you think we should transition to:
[code]

[2021-02-27 04:57] elrhomariyounes commented on #3
Yeah good idea! and if I'm not wrong the Postgrest client is not initialized when calling Supabase.Client.Initialize

[2021-02-27 05:13] acupofjose commented on #3
That's correct, it's not supposed to be - it is supposed to be initialized on each call to `From()` (this is the way that the `supabase-js` library does it.

[2021-02-27 15:42] acupofjose commented on #3
Aaaalllllrighty. Changes have been pushed to both `gotrue-csharp@2.0.0` and `supabase-csharp@0.1.4-prerelease` that default to a synchronous API for initialization. The previous initializer can be found with `Client.InitializeAsync(....)`. Let me know if that works for you!

[2021-02-28 05:11] elrhomariyounes commented on #3
Hello, I tried to make a sample todo project using Blazor Web Assembly and Supabase Todo Quick Start.

I made an AuthenticationService where I initialize the supabase client in the constructor, but the application crushed immediately when navigating to the component where my AuthenticationService is injected you can check the sample project to reproduce [here](https://github.com/elrhomariyounes/Su

[2021-03-03 02:53] acupofjose commented on #3
@elrhomariyounes sorry I've been pretty slow on responding to this. I'm not particularly familiar with Blazor - but it looks like it  the exception is thrown from blocking the main thread on an async call. Is it possible to change to using `InitializeAsync()` for your use case? The alternative is to change the gotrue API to require a synchronous call for `SessionRetriever`, `SessionPersistor`, and

[2021-03-03 03:37] elrhomariyounes commented on #3
Hello @acupofjose, Hope you're doing great.

I've been trying this days to figure out a solution without changing all this methods to run synchronously, but unfortunately no idea, I tried using InitializeAsync but I have to call ```.Result``` to set the supabase client value and this will result to a blocking call same as Initialize.

[2021-05-21 21:14] acupofjose commented on #3
@gostan99 thanks for the report! Are you also attempting to use this on Blazor?

[2021-05-24 11:16] gostan99 commented on #3
yes I am attempting to use this on Blazor. Seems that Blazor does not support Websocket I think.

[2021-05-26 16:52] TheLazyLemur opened #4 "Error When initializing the client"
# Bug report

## Describe the bug

When calling
[code]
I get the error
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create new Console app
2. Add this code
[code]
3. Run App
4. See error

## Expected behavior

The client to initialize without error

[2021-05-26 17:15] acupofjose commented on #3
Found the problem! The `Client` now defaults to not initializing `Realtime` functionality unless specified. I've also removed problematic `Task.Result` calls that were causing blazor issues.

Available in `0.1.5-prerelease`

[2021-05-26 17:33] TheLazyLemur commented on #4
Since the version change to 0.1.5 that specific error has changed, to a null reference exception on the instance object.

My Code:
[code]

[2021-05-26 17:35] acupofjose commented on #4
Ah - your URL should just be `https://hhrlrnbaffbvmbucwvjz.supabase.co`

For Example:
[code]

[2021-05-26 17:42] TheLazyLemur commented on #4
Thank you that works.

A heads up that having an extra slash at then end of the URL causes the error as well.

Is this project open for contributions?

[2021-05-26 17:43] acupofjose commented on #4
Absolutely it is - I would love contributions!

[2021-05-26 19:31] TheLazyLemur commented on #4
Is there something missing when it comes to realtime events?

my code:

[code]

However no action triggers

[2021-05-26 19:43] acupofjose commented on #4
Is replication enabled on the table (https://supabase.io/docs/guides/auth#disable-realtime-for-private-tables)? (This link shows disabling, but also the enable command)

Are you seeing the inserted record in the database?

[2021-05-26 20:06] TheLazyLemur commented on #4
Ive done this

[code]

[2021-05-26 21:15] TheLazyLemur commented on #4
Okay Ive got it! thanks for all your help

[2021-05-26 21:15] #4 closed

[2021-06-01 20:18] jeylanicode opened #5 "Is it possible to pass in our own authorisation bearer token"
https://github.com/supabase/supabase-csharp/blob/98ef31fa35aebcec97c8847737f3ff552e56ef68/Supabase/Client.cs#L142

I want to be able to pass my token like so:

<img width="913" alt="Screenshot 2021-06-01 at 21 17 05" src="https://user-images.githubusercontent.com/83839350/120384992-c7981480-c31e-11eb-8bdd-66f74ba6f8bb.png">

But it is being overwritten by the fact that it checks only if there is a

[2021-06-01 20:22] acupofjose commented on #5
So you're getting an `access_token` without using the Supabase.Auth calls?

[2021-06-01 20:36] #5 closed

[2021-06-01 20:39] acupofjose commented on #5
Available in `v0.1.6-prerelease` you should see it hit NuGet in the next 15-20 minutes or so!

[2021-06-01 20:42] jeylanicode commented on #5
You are a LEGEND! Thank you!

[2021-07-11 11:31] syedqutub commented on #3
Hi Everyone,
@acupofjose i was having trouble using to use the Realtime feature of Supabase on Blazor WebAssembly (Platform not supported exception) and found this thread. i do know that Blazor WASM supports System.Net.WebSocket.ClientWebSocket (they wrote specific implementation for blazor wasm) but i am not sure if WebSocketSharp supports Blazor WASM. is it possible to use supabase realtime on b

[2021-07-11 12:18] acupofjose commented on #3
@syedqutub - Blazor is not a framework I'm familiar with, I've only worked on it with debugging on this project. As far as I've seen, `WebsocketSharp` does not support Blazor WASM. Supabase would require a different client that is either specific for Blazor or more generalized that WebSocketSharp (with Blazor support). I **gladly** welcome any contributions you have!

[2021-07-13 10:29] syedqutub commented on #3
@acupofjose  Thanks alot for the reply!.
i do know that `System.Net.ClientWebSocket` c;lass is supported on Blazor WASM. so am playing around with it. if i manage to come up with an implementation for the `Supabase.Realtime.Socket` i will let you know!.

[2021-08-16 12:59] rubenvclceeic commented on #3
Try that:

`public static async Task Main(string[] args)
        {
            var builder = WebAssemblyHostBuilder.CreateDefault(args);
            builder.RootComponents.Add<App>("#app");

            builder.Services.AddScoped(sp => new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) });
            builder.Services.AddSingleton<IAuthenticationService, AuthenticationServ

[2021-08-23 09:00] rubenvclceeic opened #7 "Create multiple sessions with supabase csharp"
# Feature request

Create Mutiple acces to supebase

## Is your feature request related to a problem? Please describe.
At the moment supebase csharp is a singelton class, so when you working on a web application net core, all acces a supebase are using the supebase class and the login is overlapping.
A clear and concise description of what you want and what your use case is.

## Describe the solut

[2021-08-23 11:13] awalias opened #8 "X-Client-Info header"
we're rolling out a header similar to Stripe's App-Data in all of the client libs so issues can be debugged more easily between the client and the backend

the javascript libs are done already: https://github.com/supabase/supabase-js/pull/238

the format is: `X-Client-Info: supabase-js/1.11.0`

for client libs that wrap others (like how supabase-js wraps gotrue-js) we allow the wrapper lib to **ov

[2021-08-23 12:06] acupofjose commented on #7
@rubenvclceeic thanks for the request!

The library was structured after the way that Google's Firebase libraries are structured - all of their Xamarin bindings use a singleton pattern.

To clarify - you would want multiple users to be logged in at the same time without logging out in between them?

If that's correct, I'd say that I don't believe you can currently do that with any of the client li

[2021-08-24 07:27] rubenvclceeic commented on #7
Thank you for the answer. At the moment, I'm  rewrite part of the librery to make Postgrest, Gotrue, and client Supabase.

But I don't have many time.  If I have some importan progress I will let you know.

[2021-08-24 12:07] #8 closed

[2021-09-14 17:54] ali-alsheakh opened #9 "Windows Forms Applications??"
Will it be supported soon?
I've Tried to use NUGET Packages But It Seems Like There Is Some Problems In The Targeted .NET Framework

Error :Could not install package 'supabase-csharp 0.1.9'.
 You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framewo

[2021-09-15 02:20] acupofjose commented on #9
@ali-alsheakh I'm working on setting the target framework to `netstandard2.0` for all of the csharp libraries - which should fix your problem! I'll let you know when I'm done. Thanks for the issue!

[2021-09-15 03:49] acupofjose commented on #9
Available in v0.2.0!

[2021-09-15 03:49] #9 closed

[2021-10-22 20:39] w3b6x9 opened #10 "Support WALRUS (Postgres RLS) Integration with Realtime Server"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, Realtime server sends all database changes to all connected clients despite Postgres Row Level Security policies. This poses security concerns when developers wish to broadcast database changes containing sensitive data to an authorized subset of connected clients based on tables with RLS enabled and r

[2021-10-26 13:37] #10 closed, assigned to nobody

[2021-11-21 23:29] evanrobertson commented on #7
@acupofjose This makes sense when you are doing something where you are contextually only ever working with 1 user account per instance of the client.

However when the application is a website or api built on ASP it would make sense for the JWT to be passed from the client to the application and the supabase client be able to make requests with that for the current request pipeline.

[2021-11-22 16:17] acupofjose commented on #7
@evanrobertson I see!

So in the end something like:
[code]

Would that work?

[2021-11-23 05:13] evanrobertson commented on #7
I think something along those lines could make sense.

My preference would be that we could inject the client via dependency injection and then configure it per request (scoped).

I also can't see a method of validating the JWT easily, similar to what is described here: https://github.com/supabase/supabase/issues/491#issuecomment-871863896

[2021-11-24 13:18] acupofjose commented on #7
@evanrobertson I'm going to start working on a `StatelessClient` to maintain backwards compatibility with current users but to expand this direction - I'll post some updates here when I've got some!

[2021-11-26 18:06] acupofjose opened #11 "Add method to validate a provided JWT"
As mentioned in #7 by @evanrobertson

[2021-11-26 21:55] acupofjose commented on #7
@evanrobertson

So what I have now you should be able to do the following:

With REST API:
[code]

With GOTRUE API:
[code]

You can find these changes on master - would you provide me some feedback on them?

Thanks!

[2021-11-29 04:31] w3b6x9 opened #12 "Send Valid User Access Token to Realtime Server"
# Feature request

Realtime server is now checking every minute to verify the validity of the user access token and storing updated user information from the JWT to Realtime's `subscription` table (used by Realtime WALRUS).

## Describe the solution you'd like

1. Realtime client pushes the user access token to all channels every heartbeat, which defaults to 30 seconds (see [ref](https://github.co

[2021-11-29 13:22] acupofjose commented on #12
@w3b6x9 thanks for the heads up! Unless I'm missing something, I don't see any of those events tied to the heartbeat function. Is it a one time push? Or every heartbeat?

[2021-11-29 18:47] w3b6x9 commented on #12
@acupofjose awesome! You already figured it out but just to clarify `realtime-js` calls [setAuth](https://github.com/supabase/realtime-js/blob/9aed05d79972b00a5c988419735865d4f343786f/src/RealtimeClient.ts#L326) in [_sendHeartbeat](https://github.com/supabase/realtime-js/blob/9aed05d79972b00a5c988419735865d4f343786f/src/RealtimeClient.ts#L398), which is called every [heartbeat interval](https://gi

[2021-11-30 01:24] acupofjose commented on #12
@w3b6x9 it doesn't look like `USER_DELETED` is implemented in gotrue-js (https://github.com/supabase/gotrue-js/search?q=USER_DELETED) is that correct?

[2021-11-30 01:31] w3b6x9 commented on #12
@acupofjose good catch! Looks like it's not implemented yet. I'll remove it from this feature request.

[2021-11-30 03:36] #12 closed

[2021-11-30 03:36] acupofjose commented on #12
Available in 0.2.6!

[2021-11-30 03:41] acupofjose commented on #11
As of 0.2.6, a User's JWT can be validated using the StatelessClient
[code]

[2021-11-30 03:41] #11 closed

[2021-12-12 06:06] evanrobertson commented on #7
I've finally had a chance to test this and it works perfectly for my use case. Thanks for getting this change in so quickly.

For anyone that is looking for a way to validate the JWT server side this code should hopefully cover that off in ASP
[code]

And to get the token in controllers
[code]

[2021-12-12 12:48] acupofjose commented on #7
@evanrobertson glad to hear it!

Thanks for the recommendation on the code for validation - you could also do request the user from the token they provide: `StatelessClient.Auth.GetUser(token)` which should fail if they have an invalid token and succeed with the user’s object if valid.

But! That’s an API call to do that, I like that your solution doesn’t have to hit supabase again to validate.

[2021-12-23 23:20] w3b6x9 opened #13 "Update Realtime user_token after fresh token event"
Just wanted to point out that there's a recent `realtime-js` fix that will update the `user_token` used for channel (subscription) reconnection: https://github.com/supabase/realtime-js/pull/126.

[2021-12-24 00:22] fplaras opened #14 "SignUp sending email template with empty parameters"
I was attempting to signup a user but the email template provided by supabase for confirmation has parameters that are not clear how they can be set or created. For example {{ .FullName }}. Anyone can steer me in the right direction? I have used other methods such as CreateUser as an alternative but it doesn't not trigger an email confirmation to be sent and I could not find a method to trigger an

[2021-12-24 00:47] acupofjose commented on #14
@fplaras thanks for the question!

Have you followed everything here?

https://supabase.com/docs/reference/javascript/auth-signup (these are the JS docs but they mostly translate).

For the C# Gotrue client, you can add the metadata with the `CreateUser` method and a service role key. But it looks like I’m missing that user data option on the gotrue SignUp call, so I can add that in!

[2021-12-24 01:36] fplaras commented on #14
I did see that there was an optional object parameter in CreateUser that needed to be eventually a dictionary of <string,object>. I thought it was what I needed to use but I might have had the wrong syntax if it was FullName, full_name or fullName.

The SignUp() method did fire the email confirmation and the configurl parameter is working but I updated the link of that template to redirect to an a

[2021-12-24 02:00] acupofjose commented on #14
@fplaras To update some fields, you might be able to make a Postgresql trigger that listens for changes on the Table field: `auth.users.confirmed_at`. But, you would likely have better luck getting feedback on the [discord](https://discord.supabase.com/) for something like that!

[2021-12-24 02:00] acupofjose commented on #14
The requested change to `SignUp` signature is in `gotrue-csharp@2.3.0` - I'll include it in the next release for `supabase-csharp`

[2021-12-24 02:10] fplaras commented on #14
Thank you, this is the snippet of code I have. It is not sending an email confirmation when the user is created and the required email confirmation flag is set on the dashboard. The user does get created.
`
var data = new Dictionary<string,object>{
{
"data",
new{
FullName="Name"}
}
};
var response= await _client.Auth.CreateUser(configuration["Supabase:SecretKey"],email,password,data);
`

[2021-12-24 03:10] #14 closed

[2021-12-24 03:11] acupofjose commented on #14
@fplaras I don't believe the `CreateUser` call actually triggers an email send - the new `SignUp` function is included in 0.2.10 - please use that! It's being published momentarily.

[2021-12-24 03:18] #3 closed

[2021-12-24 03:18] #7 closed

[2021-12-24 03:19] acupofjose commented on #13
Awesome - I'll get on this tomorrow. Thanks @w3b6x9!

[2021-12-24 03:24] fplaras commented on #14
Thank you

[2021-12-24 04:26] fplaras opened #15 "SignUpWithEmail vs CreateUser Metadata"
Hello, comparing the CreateUser and SignUp methods for metadata the implementation seems to be different.
CreateUser method signature expects an object to be bound to a "data" property and the SignUp method signature is expecting a Dictionary of <string, object> to be bound to the "data" property. Wasn't sure if this was a bug.

param: Dictionary<string, object> metadata
`Dictionary<string, object

[2021-12-24 05:11] acupofjose commented on #15
Oh my! Great catch. Yes, the `CreateUser` call is supposed to have a different format. I'll get that fixed and a test added. Thank you!

[2021-12-24 06:19] w3b6x9 commented on #13
@acupofjose awesome, thank you!

[2021-12-24 20:35] fplaras commented on #15
@acupofjose this is the metadata result for the new SignUp(). Is this correct?
` "userMetadata": {
    "data": {
      "full_name": []
    },
    "redirectTo": "https://google.com"
  }`

[2021-12-25 19:08] fplaras opened #16 "Mapped property UserMetadata for User model"
Hi, it was not clear to me that the User model property named `UserMetadata` is mapped to `data` for Supabase usage. One example that created my confusion is when I would call GetUserById() method where that property is returned and it is named `userMetadata`. I was able to identify the correct mapping for Supabase usage by inspecting the SignUpWithEmail() where the object `metadata` is assigned t

[2021-12-25 21:42] acupofjose commented on #16
@fplaras thanks for all the feedback! I'll address these shortly. A Merry Christmas to you friend!

[2021-12-25 22:11] #15 closed

[2021-12-25 22:11] acupofjose commented on #13
Available in 0.2.11

[2021-12-25 22:11] #13 closed

[2021-12-25 22:12] acupofjose commented on #16
The signature now has a specific class for it, `SignUpOptions` that has both of these options available with clarified comments.

Available in `supabase-csharp@0.2.11`

[2021-12-25 22:12] #16 closed

[2021-12-29 00:10] w3b6x9 opened #17 "Realtime RLS Broadcasts Errors"
Realtime RLS will be broadcasting database changes with `errors` so that clients can capture what went wrong when listening to database changes.

Please see here for the current error states: https://github.com/supabase/walrus/tree/generic_claims#error-states.

Realtime RLS will broadcast `errors` as either `null` (no errors) or an array of strings (at least one error present).

Here are two examp

[2021-12-29 21:40] fplaras opened #18 "SignUp return both Session and User"
There is a use case in the documentation that indicates either object is returned based on email confirmation requirement but the current signup() only returns the Session object.

Ref: [https://supabase.com/docs/reference/javascript/auth-signup](https://supabase.com/docs/reference/javascript/auth-signup)
[code]

I am thinking it could return a Tuple that includes the User and Session objects.

[2021-12-29 21:44] acupofjose commented on #18
@fplaras [A `Session` includes the `User` as a property](https://supabase-community.github.io/supabase-csharp/api/Supabase.Gotrue.Session.html#Supabase_Gotrue_Session_User) - is that different than what you're asking?

[2021-12-29 21:49] fplaras commented on #18
@acupofjose yes, because when a user is signed up and their email is not confirmed)with requirement) session is null but if I could retrive the user data that was created I can insert for example user profile records that reference the new user uuid but if session is null I would have to wait for the email confirmation to go through to then retrive the user based on the access token to then create

[2021-12-29 21:51] acupofjose commented on #18
Ah! I see - I'll look into it, let me make an issue on the Gotrue page

[2021-12-29 22:56] #18 closed

[2021-12-29 22:57] acupofjose commented on #18
@fplaras `Session` will now be returned with `null` token data but a populated User property. Available in `gotrue-csharp@2.3.3` and `supabase-csharp@0.2.12`.

[2021-12-29 23:01] fplaras commented on #18
Sweet! Thank you

[2021-12-30 15:58] acupofjose commented on #17
Available in `realtime-csharp@2.0.8` and `supabase-csharp@0.3.0`.

[2021-12-30 15:58] #17 closed

[2021-12-31 16:50] CodeWithMK opened #19 "Received an error after upgrading from v0.2.12 to v0.3.0"
Error message:
`System.MissingMethodException: 'Method not found: 'Void Postgrest.Attributes.ColumnAttribute..ctor(System.String)'.'`

Table class:
[code]
The line causing the error:
`var users = await instance.From<User>().Get();`

Am I missing something?

[2021-12-31 17:18] acupofjose commented on #19
hm. That's a new one - could you do a full clean, remove the `supabase-csharp` package, and reinstall it and see if that fixes it? If not, try adding a nuget reference to `postgrest-csharp@2.0.6`. It looks like it's not detecting the package.

[2021-12-31 21:27] CodeWithMK commented on #19
Full clean up did the trick, I guess it was using an older version. It is fixed now, thanks.

[2021-12-31 21:27] #19 closed

[2022-01-15 01:04] MisterJimson opened #20 "Provide the ability to set redirect when calling `Client.Instance.Auth.SendMagicLink` or `Client.Instance.Auth.SignIn`"
# Feature request
Provide the ability to set redirect when calling `Client.Instance.Auth.SendMagicLink` or `Client.Instance.Auth.SignIn`

Other Supabase client libs include this and it would help for deep linking magic link emails to the application.

[2022-01-15 01:08] acupofjose commented on #20
The SignUp method currently accepts [SignInOptions.RedirectTo](https://supabase-community.github.io/supabase-csharp/api/Supabase.Gotrue.SignUpOptions.html) but you’re right, we don’t have that for `SendMagicLink` And it should be added!

[2022-01-15 15:40] MisterJimson commented on #20
May want to transfer the issue to `gotrue-csharp`, it doesn't allow me to.

[2022-02-05 18:54] acupofjose commented on #20
This is available in `>= supabase-csharp@0.3.1` `supabase-community/gotrue-csharp@2.3.5`

[code]
And

[code]

[2022-02-05 18:54] #20 closed

[2022-02-18 02:29] d11-jwaring opened #21 "Blazor WASM - Initialising client with realtime produces error 'System.Security.Cryptography.Csp is not supported on this platform.'"
Good evening,

I'm using Visual Studio 2022 to build a .NET 6 Blazor Web Assembly app. I've used the supabase-csharp nuget package to connect to login and fetch from the database. However, it doesn't appear the real-time connections work due to the following error:
`System.Security.Cryptography.Csp is not supported on this platform.`

Here's the error full log i get:
![image](https://user-images.g

[2022-02-18 03:12] acupofjose commented on #21
Thanks for raising the issue John! Unfortunately supporting blazor websockets would require rewriting the realtime-csharp library using a different Websocket Client dependency (This is discussed a bit on #3). I haven't seen enough interest from people to justify rewriting that library, so the current solution is, well, to disable realtime on blazor apps.

If you have an interest in trying a differ

[2022-02-18 03:21] d11-jwaring commented on #21
Thanks for the fast reply. No problem it does look like a lot of work. I'll have a look at what may work in the Blazor Web Assembly environment, or see if i can find a resolution for the cryptography dll issue. But I doubt I'll get anywhere.

On a side note, the Blazor Server seems fine initialising the above code, I'll test it further tomorrow to see how functional it is, but not sure the supabas

[2022-02-18 13:43] d11-jwaring commented on #21
I'm still investigating other libraries I could possibly try to replace the 'WebSocketSharp-netstandard' package. When I finish work I'm going to have an attempt to change the Websocket code to use:
[https://github.com/Marfusios/websocket-client](https://github.com/Marfusios/websocket-client)

I doubt I'll be successful, but it's worth a try.

[2022-02-18 13:49] acupofjose commented on #21
@d11-jwaring awesome! Keep me in the loop if you hit any brick walls!

[2022-02-18 23:45] d11-jwaring commented on #21
Ok, all seems fine, which I'm quite delightfully surprised:
![image](https://user-images.githubusercontent.com/46960269/154773806-b86277d8-5232-4f08-a6e4-296256420aca.png)

I built a local nuget package of realtime-csharp with me changes, added it to my local nuget source and spun up a Blazor WASM project and added postgrest nuget package and the local realtime-csharp package. And it connected to

[2022-02-19 00:25] acupofjose commented on #21
Wow! Did that quick @d11-jwaring! Sounds like you were selling yourself short there - haha! If you could fork the repo, commit the changes you've made, and then open a pull request so I can review (and hopefully merge) the changes, that would be fantastic!

[2022-02-19 03:27] d11-jwaring commented on #21
I've setup a PR on the realtime-csharp repo:
[https://github.com/supabase-community/realtime-csharp/pull/14](https://github.com/supabase-community/realtime-csharp/pull/14)

[2022-02-19 03:56] #21 closed

[2022-02-19 03:57] acupofjose commented on #21
@d11-jwaring will be available in supabase-csharp@0.3.2 and realtime-csharp@3.0.0 - thanks for the help!

[2022-03-01 07:13] MuhammadBilalYar01 commented on #11
@acupofjose , here application key mean JWT secret or something different, if not then from where i can this application key

[2022-03-01 13:00] acupofjose commented on #11
@MuhammadBilalYar01 this is either your anonymous public key or the service role key found in the Supabase admin panel!

[2022-03-02 05:57] MuhammadBilalYar01 opened #22 "Entity Framework Code First Approach Example"
I am trying to implement this [Youtube Video ](https://youtu.be/qY_iQ10IUhs?t=149) using EF code first approach, can you provide an example of how I can create a relationship between **auth.user** table and **public.LeaderBorad** table

Assuming i have this class for Leaderboard

[code]

Do I need to create a class for  Auth.User table? or superbase already provide some any class?

[2022-03-03 13:42] acupofjose commented on #22
@MuhammadBilalYar01 - you can follow the guide here: https://supabase.com/docs/guides/auth/managing-user-data.

But adapting that, you would need to create a new table in the Supabase Admin Panel:
[code]

As for representing `auth.user`? This library does not provide currently provide a class to do so - the `auth.user` table is left open for users to tamper with, but mostly acts as an internal rep

[2022-03-28 16:17] #22 closed

[2022-04-30 19:22] HunteRoi opened #23 "Feature Request: add interfaces to all public classes"
Hello everyone!

I would firstly like to thank you for the work you have done to create this package.

As the title might suggest, I am here to ask something of you... Would it be possible to have your opinions on the abstraction layer that is missing in Supabase-csharp and its dependencies? I would have expected to be able to use the dependency injection with this package (in order to create my o

[2022-04-30 19:29] acupofjose commented on #23
@HunteRoi thanks! Could you clarify what you’re wanting to do? I’m not sure I understand.

[2022-04-30 19:40] HunteRoi commented on #23
Hey there! That's a quick response.

What I am willing to do is basically create a service that uses Supabase as a dependency. However I usually try to not register dependencies as concrete implementations but rather tend to use interfaces for it.

So far, I could write an AuthService that looks like the following:
[code]

where I want to create something like:
[code]
(notice the `IClient` instead

[2022-05-01 17:59] acupofjose commented on #23
@HunteRoi I'm not at all opposed to implementing this - but I have to admit my ignorance, the `DependencyInjection` pattern isn't one that I'm particularly familiar with. Would you mind providing some projects to reference or a PR?

[2022-05-01 23:21] HunteRoi commented on #23
The dependency injection (DI) software design pattern is often used in C# with the .NET framework.
It is considered the standard way of working with dependencies in your code in .NET. The idea of the design pattern is to rely on the inversion of control principle (the D of SOLID).

If you want to know more, I recommend looking into these sources:
- [SOLID principles](http://principles-wiki.net/col

[2022-05-01 23:25] HunteRoi commented on #23
As an addition and because I now see that I did not mention it before: **I need interfaces in order to unit test my components** and this cannot be done with concrete implementations (because it wouldn't be unit tests anymore but more like integration tests).

[2022-05-03 13:48] HunteRoi commented on #23
@acupofjose Like you said, the changes on each repository would represent **a huge breaking change**.

To summarize everything so far: I have created this issue for a need of myself (ie. add an abstraction layer to inject dependencies thus allowing me to unit test my components). However, it seems like there is a lot to do and unfortunately I do not have enough time to do it on my own...

For exam

[2022-05-03 14:40] acupofjose commented on #23
Thanks for taking the time to look at this @HunteRoi! I've been poking around with `gotrue-csharp`  to see what sort of changes would need to be made while keeping the API as non-breaking as possible.

As to the static functions - this was in response to #7 where there was a request for accessing stateless functionality.

My (incomplete, working) proposal:
- We would provide interfaces for each of

[2022-05-10 20:14] acupofjose commented on #23
@HunteRoi I've created a PR on the gotrue-csharp repo for you to review. The docs are currently placeholders as the plugin that was suggested requires (AFAIK) the pro version to transfer comments from the methods to the interfaces.

[2022-05-10 21:16] HunteRoi commented on #23
I will take a look at it! Regarding the pro version, you are probably right. If so, I am sorry for the mislead. Anyway thank you for your time! Give me some time to review the changes. I have a tough week, I am not sure I can free up a lot of time but I will try my best!

[2022-05-10 21:17] acupofjose commented on #23
No rush, good luck out there!

[2022-05-15 10:20] infofiratarslan opened #24 "Not Working : Listening to row level changes"
Hi, I want to listen for row level changes but it doesn't work. (unfortunately, all table is listening.)

[code]

I would really appreciate if you can help

[2022-05-15 13:25] infofiratarslan commented on #24
**SOLVED**

[code]

[2022-05-15 13:25] #24 closed

[2022-05-24 11:06] kamyker opened #25 "Unity client"
Hi, I think Supabase could be a great Firebase replacement especially in Unity as they use a lot of native code making their client supported only on Android and iOS.

Websockets used in supabase-csharp are much more cross-platform. They even work in browser webgl builds.

With that being said I'm up to make Unity specific repo that combines all cs sdks and dependencies as Nuget doesn't work in Un

[2022-05-24 11:58] acupofjose commented on #25
That would be awesome! I think the easiest (and cleanest) way would be to use submodules.

[2022-05-24 18:59] kamyker commented on #25
Got it working. Not sure if GetAssemblyVersion() works correctly but I'll skip it until it start causing any errors.

https://github.com/kamyker/supabase-unity

[2022-05-24 18:59] #25 closed

[2022-05-24 19:30] kamyker commented on #23
My 2 cents: I always avoid doing that if type isn't meant to be replaced as it makes everything more complex. The is trying to find concrete interface implementation.

Imo avoid adding interfaces if they are not needed.

[2022-05-24 21:30] kamyker commented on #25
Np, thanks for your quick fixes too :) @acupofjose

[2022-07-05 06:00] diego81b opened #26 "Client instance in Blazor WASM authentication state provider is always null"
Hi,

i need to override the default authentication state provider in a Blazor WASM application using this code
[code]
This method `GetAuthenticationStateAsync` is called by the framework on route change and always the instance is null
`SupabaseWrapper.ClientInstance` is only a static wrapper around the library to expose the methods

[code]

On the rest of the application the client seems initializ

[2022-07-06 07:38] acupofjose commented on #26
@diego81b in your debugging, is the token available after retrieving the session  in `Login(string username, string password)`?

If it is, I would wonder if you need to specify the `SessionPersistor` and `SessionRetriever` functions on the `Auth.ClientOptions` writing the session to browser's LocalStorage and retrieving it from there. (That is, unfortunately, not built in functionality!)

[2022-07-07 17:02] fenandosr opened #27 "How to use JSONB columns with SupabaseModel"
Consider a table on supabase called `SomeEntity` with a column `MyJsonbColumn` types as JSONB.

We have this class:

[code]

How can this be done?

[2022-07-07 17:26] acupofjose commented on #27
Could you try:

[code]

And see if that works?

[2022-07-07 17:32] acupofjose commented on #26
@diego81b sorry I've been slow getting back to you - I'm not super familiar with Blazor. I'm going to try and spin up a project today to help debug this and find an answer!

[2022-07-07 17:41] fenandosr commented on #27
Works like a charm!

Example of how two different JSONB columns look like:

[code]

Thanks

[2022-07-07 17:41] #27 closed, assigned to nobody

[2022-07-07 18:03] acupofjose commented on #27
@fenandosr for the record, you ought to be able to create a C# class to hydrate into and use that as the type if the JSONB data is consistent.

[code]

[2022-07-07 18:51] acupofjose commented on #26
Okay - this will be a longer post but here's what I have this working (logging in users, persisting sessions, etc.)

First, in your `Program.cs` we need to add Authorization, LocalStorage (for persistence, I'm using `Blazored.LocalStorage`) and setup the instance.

**Program.cs**
[code]

The `AuthenticationStateProvider` can be adjusted to use the singleton built in to the Supabase Client:

**Supb

[2022-07-07 20:33] diego81b commented on #26
That's Great
Thanks a lot, I'll do try in the next days I'll be back with a feedback

Diego

[2022-07-08 14:52] fenandosr commented on #27
Ok, I will test this and post if anything something is useful.

We appreciate your support.

[2022-07-28 10:03] ajonno opened #28 "How to define a model for a join table ?"
Having a lot of trouble (errors) trying to insert data into a many to many join table, which I think is because perhaps ive not defined correctly?

ERROR: "null value in column "movie_id" of relation "movie_cast" violates not-null constraint"

Thing is, the value being used in the movie_id field is clearly, not null!

This is the join table:
[code]

Here is attempt to insert a row which keeps fail

[2022-07-28 10:21] acupofjose commented on #28
Thanks for making such a detailed issue! I believe your problems is because you need to add a `Column` attribute! (I’m not actually sure what The `ForeignKey` attribute is referencing, that’s not an attribute included with postgrest-csharp)

Could you try:
[code]

[2022-07-28 11:24] ajonno commented on #28
my pleasure, its a great api by the way for supabase, we're using it in a Blazer web app portion of the solution we're building.
yep that was it ! thanks for quick reply.

[2022-07-28 11:24] #28 closed

[2022-07-29 05:40] ajonno opened #29 "how to use "upsert" correctly ?"
Am having probs up-serting.

First here's the equivalent SQL that works fine:
[code]

However when using the API I'm getting an error telling me about the "UNIQUE" constraint that is currently set on one of the columns.

The call is simple:
```var movieResponse = await movieHandle!.Upsert(movie);```

but the error message is:
```duplicate key value violates unique constraint "movie_tmdb_movie_id_k

[2022-07-29 10:57] acupofjose commented on #29
And just to be clear, the `PrimaryKey` Attribute is referencing the Postgrest namespace and not another package?

[2022-08-01 04:54] ajonno commented on #29
ohh good spot! hmm let me double back on this and ill confirm

[2022-08-01 04:58] ajonno commented on #29
ok checked, yes thats ok in the model. ie the _Postgres.Attributes_.PrimaryKey isn't needed

so im still not sure why the upsert fails. could it be a bug ? (ie relating to the UNIQUE modifier)

[2022-08-01 10:15] acupofjose commented on #29
Weird. But okay! Yeah I’ll need to take a look at the `OnConflict` and see if we need to add that to the postgrest api - let me get back to you.

[2022-08-01 11:35] #26 closed

[2022-08-02 01:07] acupofjose commented on #29
@ajonno available in `supabase-csharp@5.0.1`! You can set either using either:

[code]

OR

[code]

[2022-08-02 01:07] #29 closed

[2022-08-02 11:29] ajonno opened #30 "how to correctly format jsonb fields?"
hey all, im having some probs with ```jsonb``` fields and getting data in to the field in the correct format.

eg. ive tried setting the model type as "string", but every time I write to a row in the table, the entry in the jsonb field is a string literal with ie. quotes "xx" either side. this prevents using jsonb functions like ```jsonb_to_recordset(xxx)```

I'm trying to get an array of objects

[2022-08-02 11:33] acupofjose commented on #30
Sure! I believe using `Dictionary<string, object>` or `object` as your type and it should make it deserialize/serialize correctly.

[2022-08-03 01:43] ajonno commented on #30
doh ! ```List<Dictionary<string, object>>``` did the trick thanks!

[2022-08-03 01:43] #30 closed

[2022-08-03 02:26] ajonno commented on #30
quick related question - I assume that with the C# api its not possible to achieve things the same as you would if you we're using ```jsonb``` helper functions in pure psql ?

eg.
[code]

in the above example, 'Jared Bush' is a value embedded in a ```jsonb``` object array.
<img width="293" alt="image" src="https://user-images.githubusercontent.com/3005269/182510814-e579a50a-6c6f-4f95-9da4-682f517d

[2022-08-03 02:33] acupofjose commented on #30
Hm. The library is meant to mirror as much functionality as [PostgREST](https://postgrest.org/en/stable/index.html) offers. It looks like they support this? I don't have the time to spin up an example to poke around with at the moment, but you could try here getting the C# API calls to generate something like this:
https://postgrest.org/en/stable/api.html?highlight=json#json-columns

[2022-08-03 02:54] ajonno commented on #30
sure thing, no worries ill play around and see if I can figure it out 👍

[2022-08-03 06:00] ajonno opened #31 "inner join syntax"
I've got the following query that works fine, and ive figured out how to transpose it to the Dart API, however I can't work out correct inner join syntax for the C# API. can u let me know the correct syntax to use for inner joins ? also how can I return fields from the different tables (as per ```select p.name, mc.job, mc.department, m.name as moviename```) ?

[code]

I tried the following but it'

[2022-08-19 03:32] ajonno commented on #31
hey all, should I perhaps post this in the Github discussions instead?

[2022-08-19 11:51] acupofjose commented on #31
Apologies @ajonno, had a lot of family stuff over the last 2 weeks. I’ll look into this tonight/tomorrow and get back to you!

[2022-08-19 13:29] ajonno commented on #31
Thanks mate no rush, family comes first!

[2022-08-20 00:49] acupofjose commented on #31
@ajonno thank brother, appreciate that! Could you post an example of the schema that you're using when you get a chance?

[2022-08-20 01:06] acupofjose commented on #31
Appreciate your understanding! Needed the time with them, but all's settled now.

Given the following schema:
[code]

The following query to `http://localhost:3000/movie?select=*,person!inner(*)&person.first_name=eq.Bob` should produce:
[code]

The same result can be replicated by the following in C#:
[code]

Referencing the following model:
[code]

Hopefully that helps!
Joseph

[2022-08-28 12:54] acupofjose commented on #31
@ajonno did that help? Or is something still not working on your end?

[2022-08-29 23:06] ajonno commented on #31
hey @acupofjose sorry been crazy busy last week will have time to check all this next few days stay tuned!

[2022-08-29 23:56] acupofjose commented on #31
No worries! Just wanted to be sure your issue gets resolved

[2022-09-01 05:35] CoryParsnipson opened #32 "Sending Count() query raises ProtocolViolationException"
Hi,

I want to get a count of all the rows in my table with this query:

[code]

And I get a ProtocolViolationException. The top of the stack trace looks like this:

[code]

If I look in Table.cs at the Count() function (line 455 in my version) I see this:

[code]

From the error message, it looks like the Head HTTP request method doesn't allow a body to be sent. So if I change `HttpMethod.Head` t

[2022-09-01 05:37] CoryParsnipson commented on #32
Whoops, looks like this belongs in Postgrest-csharp instead...

[2022-09-01 05:37] #32 closed

[2022-10-05 02:17] andresud opened #33 "Testing Supabase Example"
Hello Guys,

I just download the project and try to run the SupabaseExample and got this error:

System.UriFormatException: 'Invalid URI: The Authority/Host could not be parsed.'

I'm using my correct SUPABASE_URL / SUPABASE_KEY....

Am I missing something?

Thank you

[2022-10-05 02:50] acupofjose commented on #33
Not much I can do to debug with that information unfortunately:

Url should look like: `https://XXXXXXXXXXXXXX.supabase.co`
And key should be your `public_key` or `service_key` (depending on usage)

Is that what you've got? Based on the error, it sounds like the URL is incorrect.

[2022-10-05 14:00] andresud commented on #33
Sorry that I didn't share more details.
I didn't change anything, just added my SUPABASE_URL / SUPABASE_KEY as env vars rebuild the project and run.

launchSettings.json
{
  "profiles": {
    "SupabaseExample": {
      "commandName": "Project",
      "environmentVariables": {
        "SUPABASE_URL": "https:/xmmdsfpofzgxvouqkmjl.supabase.co",
        "SUPABASE_KEY": "my-public-key that I don't want

[2022-10-05 15:29] acupofjose commented on #33
Happy to help! Looks like you’re missing a forward slash in your supabase URL there!

[2022-10-11 20:50] #31 closed

[2022-10-30 03:46] #33 closed

[2022-11-02 17:10] StarlkYT opened #34 "Enable nullability in the project and make use of nullable reference types."
## Is your feature request related to a problem? Please describe.
NRTs help developers to avoid NREs.

## Describe the solution you'd like
To basically annotate anything that is nullable.

[2022-11-03 03:14] acupofjose commented on #34
@StarlkYT I think this would be a great improvement to the project. I'm in the process of doing a rewrite of each of the libraries to a Dependency Injection structure for the next major version, and I will include this as on of the issues for it!

[2022-11-03 03:16] acupofjose opened #35 "Restructure Client Libraries to support Dependency Injection (DI)"
In reference to #23:
- [x] supabase-community/gotrue-csharp#42
- [x] supabase-community/functions-csharp#1
- [x] supabase-community/storage-csharp#2
- [x] supabase-community/realtime-csharp#16
- [x] supabase-community/postgrest-csharp#53

[2022-11-13 03:30] #34 closed

[2022-11-13 03:30] #35 closed

[2022-11-13 03:33] #23 closed

[2022-11-22 09:36] orhanmaden opened #39 "Invoking RPC results in exception 'No API key found in request'"
# Bug report

## Describe the bug

Exception is thrown when using invoking RPC call.

## To Reproduce

1. Create procedure via supabase SQL Editor
[code]
2. Run supabase-csharp
[code]
3. See the exception
[code]

## Expected behavior

Invoke RPC call successful.

## Screenshots

N/A

## System information

- OS: Windows
- Version of supabase-charp: 0.6.1

## Additional context

N/A

[2022-11-22 13:06] #39 closed